<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title<%= title%></title>
    <link href="/stylesheets/WmsStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main-login">
    <div class="login-logo"><img src="/adminImages/login-logo.png" width="247" height="42" /></div>
    <div class="login-box">
        <div class="login-list">
            <ul>
                <li><div class="user"><i></i><input name="" type="text" placeholder="请输入您的账号" /></div></li>
                <li><div class="psw"><i></i><input name="" type="password" placeholder="请输入您的密码"/></div></li>
                <li><input name="" class="bnt" type="submit" value="登 录" /></li>
            </ul>
        </div>
    </div>
    <div class="caty">版权所有 北京农丰吉瑞网络科技有限公司</div>
</div>
</body>
</html>
