<% include header %>
<div style="padding: 100px; text-align: center">对不起，您走错路了。您还可以 <a href="/" style="text-decoration: underline;color: #7fbb0b; ">回到首页</a> 或直接搜索你想要的内容</div>
<script type="text/javascript">
    $(function(){
        $(".login-register-btn").click(function(){
            $("#login_form").submit();
        });
    });
</script>
<% include footer %>

