<div class="footer">
    <div class="foot_box">
        部分内容来源于网络，如有文章侵犯作者权利，请联系本站删除 合作/服务QQ：2518000497<br />
        　Copyright @ 2016  <a href="/">朵朵学习</a> 版权所有　All Rights Reserved 蜀ICP备16008666号-1 &nbsp;
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258298110'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258298110' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script>
    (function(){
        var src = document.location.protocol +'//js.passport.qihucdn.com/11.0.1.js?5be3959ccf26c80a55745e448e830dbf';
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
</body>
</html>