<% include header %>



<form id="register-form" action="/users/registerUser" method="post">
    <input class="span4" name="username" type="hidden" maxlength="32" value="admin" />
    邮箱<input class="span4" name="email" id="UcenterMember_email" type="text" maxlength="128" value="" />
    密码<input type="password" id="password" name="password" value="" class="span4"/>
    确认密码<input type="password" id="UcenterMember_password2" name="UcenterMember[password2]" value="" class="span4"/>

    <a href="javascript:void(0);" title="注册" class="pull-left login-register-btn">注&nbsp;册</a>
</form>
<script type="text/javascript">
    $(function(){
        $(".login-register-btn").click(function(){
            $("#register-form").submit();
        });
    });
</script>
<% include footer %>