<% include header %>
<link rel="stylesheet" type="text/css" href="style/xmdata.css"/>

<div class="hr tp-div-nexthr" style="margin-top: 0;margin-bottom: 0;padding: 0;"></div>
<div class="container pb-15">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span12">

            <!--搜索-->


            <div class="clearfix pb-15">

                <div class="pull-left classifyDIV pt-10 my1D6597">项目数据库	<span>欢迎<a href="">提交新项目</a>,让产品快速打响知名度,赢得投资人青睐</span></div>

                <div class="pull-right t-20 classifySearch" style="position: relative;">
                    <form action="?" method="get" style="margin:0px; padding:0px;" id="mmsearchform">
                        <input id="search-input" type="text"  class="search-input pull-left span4" value=""/>
                        <a href="javascript:void(0);" title="搜索" class="search-btn-css pull-left search-btn"></a>
                    </form>
                </div>
            </div>

            <!--搜索结束-->
            <!-- <div class="mmdata">欢迎<a href="">提交新项目</a>,让产品快速打响知名度,赢得投资人青睐</div>-->


            <!--列表开始-->

            <!--第一个    左对齐      pull-left-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-left" style="width:47%; width:47% \9; position: relative; padding-left: 0; height:auto;">

                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height:auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <!--第一个结束-->

            <!--第二个       右对齐    pull-right-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-right" style="width:47%; width:47% \9; position: relative; padding-left: 0;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height: auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>
                            <div class="mmclear"></div>
                        </div>

                    </div>

                </div>


            </div>
            <!--第二个结束-->


            <!--第三个    左对齐      pull-left-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-left" style="width:47%; width:47% \9; position: relative; padding-left: 0; height:auto;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height:auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <!--第三个结束-->

            <!--第皿个       右对齐    pull-right-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-right" style="width:47%; width:47% \9; position: relative; padding-left: 0;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height: auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>
                            <div class="mmclear"></div>
                        </div>

                    </div>

                </div>


            </div>
            <!--第皿个结束-->



            <!--第一个    左对齐      pull-left-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-left" style="width:47%; width:47% \9; position: relative; padding-left: 0; height:auto;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height:auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <!--第一个结束-->

            <!--第二个       右对齐    pull-right-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-right" style="width:47%; width:47% \9; position: relative; padding-left: 0;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height: auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>
                            <div class="mmclear"></div>
                        </div>

                    </div>

                </div>


            </div>
            <!--第二个结束-->


            <!--第三个    左对齐      pull-left-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-left" style="width:47%; width:47% \9; position: relative; padding-left: 0; height:auto;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height:auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <!--第三个结束-->

            <!--第皿个       右对齐    pull-right-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-right" style="width:47%; width:47% \9; position: relative; padding-left: 0;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height: auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>
                            <div class="mmclear"></div>
                        </div>

                    </div>

                </div>


            </div>
            <!--第皿个结束-->

            <!--第三个    左对齐      pull-left-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-left" style="width:47%; width:47% \9; position: relative; padding-left: 0; height:auto;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>
                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height:auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>
                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <!--第三个结束-->

            <!--第皿个       右对齐    pull-right-->
            <div class="label-div b-20 border-all pb-10 pt-5 pull-right" style="width:47%; width:47% \9; position: relative; padding-left: 0;">
                <div class="clearfix pt-3">
                    <div class="index-news-img spanm3 pull-left pt-5">
                        <a href="#" title="标题标题标题" target="_blank" rel="bookmark">
                            <img class="lazyloadimg" alt="标题标题标题标题标题标题" src="images/xmdata1.jpg"/></a>
                    </div>


                    <div class="offset3 intro mmwidth">
                        <h1>
                            <a title="标题标题标题标题" target="_blank" href="#">标题标题标题标题标题标题标题标</a>
                        </h1>

                        <p class="t-1 mt1">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</p>

                        <div class="clearfix" style="height: auto;margin-top:0px;">
                            <div class="pull-left myxx">
                                <i class="mr">2013/03/02</i>
                                <i class="m"><a href="#" target="_blank">北京</a></i>
                                <i class="m"><a href="#" target="_blank">项目分类</a></i>

                            </div>
                            <div class="mmclear"></div>
                            <div class="">
                                <a class="follow-btn pr-10 ie6png" href="javascript:void(0);" title="0人关注	0人分享	3人评论" data-id="104417" data-type="news">3人</a>
                                <a class="read-btn ie6png" href="javascript:void(0);" title="277次阅读">277次</a>
                            </div>

                            <div class="mmclear"></div>
                        </div>



                    </div>

                </div>


            </div>
            <!--第皿个结束-->


            <!--列表结束-->

            <div class="mmclear"></div>

            <div class="pagination center pagination-large pt-20">
                <ul id="yw1" class="yiiPager">
                    <li class="previous"><a href="#">《</a></li>
                    <li class="page"><a href="?page=1">1</a></li>
                    <li class="page selected"><a href="?page=2">2</a></li>
                    <li class="page"><a href="?page=3">3</a></li>
                    <li class="page"><a href="?page=4">4</a></li>
                    <li class="page"><a href="?page=5">5</a></li>
                    <li class="page"><a href="?page=6">6</a></li>
                    <li class="page"><a href="?page=7">7</a></li>
                    <li class="next"><a href="#">》</a></li>
                </ul>		    </div>
        </div>


        <!--右侧代码-->
        <div class="span4">



            <div class="label-div t-20 border-all">
                <div class="l-15">
                    <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">关注咨询</h3>
                </div>
                <div class="label-main tody-hot l-15" >
                    <ul>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>



            <div class="label-div t-20 border-all">
                <div class="l-15">
                    <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">最多分享</h3>
                </div>
                <div class="label-main tody-hot l-15" >
                    <ul>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>



            <div class="label-div t-20 border-all">
                <div class="l-15">
                    <h3 class="label-title border-b b-15 small clearfix" style="padding-bottom: 14px;">最多评论</h3>
                </div>
                <div class="label-main tody-hot l-15" >
                    <ul>
                        <li><a href="">标题标题标题标题标题标题题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标 标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                        <li><a href="">标题标题标题标题标题标题标题标题</a></li>
                    </ul>
                </div>
            </div>






        </div>
    </div>
</div>

<!--右侧代码结束-->


<!-- /container -->

<div class="container">

    <div class="hr"></div>

</div>

<!-- /container -->

</div>

<% include footer %>